<div is="component-reviews">
  <div class="bgImage">
    <img src="images/cover-2.jpg" alt="">
  </div>
  <div class="content container">
    <h2 class="is-invisible">Reviews</h2>
    <div class="image">
      <img src="images/user-1.jpg" alt="reviewer">
    </div>
    <p class="p-md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quae sint ab consectetur saepe accusantium libero adipisci nesciunt voluptatum sed provident eius commodi distinctio debitis earum architecto rem, cupiditate deleniti?</p>
    <h3 class="is-h2">Phoebe Frazier</h3>
  </div>
</div>