<div is="component-header">
  <div class="bgImage">
    <img src="images/cover-1.jpg" alt="sushi">
  </div>
  <div class="content container-fluid">
    <h1>Delicious Sushi</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis perspiciatis sed suscipit recusandae sint necessitatibus error.</p>
    <a href="#" class="btn btn--default btn--bg-white">Order Now</a>
  </div>
</div>