[is='component-countup'] {
  position: relative;
  color: $color_white;

  .content {
    padding-top: 8%;
    background-color: $color_pink;
  }

  .topContent {
    right: 0;
    left: 0;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;

    @include media-breakpoint-up(sm) {
      max-width: 400px;
    }

    @include media-breakpoint-up(md) {
      max-width: 500px;
    }

    @include media-breakpoint-up(lg) {
      max-width: 700px;
    }

    h2 {
      text-transform: uppercase;
    }
  }

  ul {
    padding-top: 1em;
    padding-bottom: 1px; // fixes background color
    font-weight: 700;
    font-size: 50px;
    line-height: 1.12;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
      font-size: 60px;
    }

    @include media-breakpoint-up(md) {
      @include grid(3, 13%);
    }

    @include media-breakpoint-up(lg) {
      column-gap: 15%;
    }
  }

  li {
    @include fixed-ratio(3.7em, 1);

    margin: 0 auto 1.2em auto;

    @include media-breakpoint-up(md) {
      @include fixed-ratio-update(100%, 1);

      margin: 0 auto 1.5em auto;
    }

    > * {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 0.07em solid $color_white;
      border-radius: 50%;
    }

    .title {
      font-size: 0.6em;
    }
  }
}
