<div is="component-outdatedbrowsernotice">
  <div class="container">
    <p class="is-h2">Browser Outdated</p>
    <p class="p-md">
      It looks like you may be using a web browser version that we don’t support.
      Make sure you’re using the most recent version of your browser.
    </p>
  </div>
</div>